@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

*{
    box-sizing: border-box;
}

:root{
    --primary: ;
    --secondary: ;
    --ubuntu:  'Ubuntu light';
    --quick: 'Quicksand light';
    --bg: rgb(5, 0, 48);
    --light:rgb(231, 228, 255);
}
li, h1, h3{
    font-family:var(--quick);
    color: var(--light);
}
li{
    list-style-type: none;
}
.temp p{
    font-family: var(--ubuntu), sans-serif;
    color: var(--bg);
    font-size: 20px;
    margin-top: 85px;
}
.container{
    top: 80px;
    left: 10%;
    right: 10%;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: 500px;
    background-color: var(--bg);
}

.control{
    margin-left: 10%;
    width: 80%;
    height: 100px;
    background-color: var(--bg);
}

#input{
    border-radius: 10px;
    width: 100px;
    font-family: var(--quick);
}

#update{
    background-color: var(--bg);
    border-radius: 10px;
    color: var(--light);
    padding: 2px 8px;
    font-family: var(--quick);
}

#update:hover{
    background-color: var(--light);
    color: var(--bg);
}
#p{
    font-family: var(--quick), sans-serif;
    color: var(--light);
    font-size: 15px;
    margin-top: 85px;
}
#city{
    margin: auto;
    text-align: center;
}
.temp{
    height: 200px;
    text-align: center;
    width: 200px;
    border-radius: 50%;
    position: relative;
    background-color: var(--light);
    margin: auto;
    cursor: pointer;
    z-index: 999;
}



.details{
    position: relative;
    margin: auto;
}

.btn{
    height: 30px;
    width: 80px;
    color: var(--light);
    background-color: var(--bg);
    font-family: var(--quick); 
    border-radius: 10px;
    margin-top: 500px;
}


.btn:hover{
    background-color: var(--light);
    color: var(--primary);
}
/*
.settings{
    border: #000;
    position: relative;
    margin: auto;
}
*/
